
/*import css variables*/
@import url(./partials/variables.css);


html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;

}


/*//////////////////////////////////////////////////////////*/
/* start navigation*/


.header_area .main-menu .navbar{
    background-color: transparent;
    padding-right: 2rem;

}
.header_area .main-menu .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}


.header_area .main-menu .navbar-nav a:hover{
    color: white;
}
.header_area .main-menu .navbar-brand{
    padding-left: 2rem;
    vertical-align: center;
}

.fixed-top.scrolled {
    background-color: var(--primary-color) !important;
    transition: background-color 20ms linear;
  }

/*//////////////////////////////////////////////////////////*/
/*HOME*/

@media (min-width: 1px) {
    .main-banner {
        background-image: url("../img/slide42.jpg");
    }
}

@media (min-width: 600px) {
    .main-banner {
        background-image: url("../img/slide4.jpg");
    }
}

@media (min-width: 900px) {
    .main-banner {
        background-image: url("../img/slide4.jpg");
    }
}

.main-banner{
    /*background-image: url("../img/slide4.jpg");*/
    background-size: cover;
    height: 100%;
    width: 100%;

}
.main-banner{
	display: table;
	text-align: center;
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: 0.2;
}
.heading{
	color: rgb(255, 255, 255);
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.heading h1{
	color: white;
	font-weight: 1000;
	font-size: 20px;
	text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////*/
/*GALLERY*/
.section-gallery{
    position: relative;
    background-color: var(--secondary-color);
    padding-top: 5rem;
}

.section-gallery .container{
    text-align: center;
}

.section-gallery h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.section-gallery .button-group button{
    background-color: transparent !important;;
    border: none;
    font-size: 25px;
    text-transform: none;
    padding-top: 1rem;
    padding-bottom: 3rem; 
    color: white;
}

.section-gallery .button-group .active{
    color: var(--primary-color);
}
.section-gallery .button-group button:hover{
    color: var(--primary-color);
}
.section-gallery .button-group button + button{
    padding-left: 1rem;
}
.section-gallery .grid .our-project{
    padding: 16px;
}
.section-gallery .grid .our-project .img a:hover img{
    border: 10px solid white;
}




/*//////////////////////////////////////////////////////////*/
/*ABOUT ME*/
.section-wb {
    padding-top: 7rem;
    position: relative;
 
    background-color: var(--secondary-color);
}

.section-wb h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}
.section-wb p {
    text-align: start;
}

/*//////////////////////////////////////////////////////////*/
/* FOOTER */


.footer-area{
    padding-top: 7rem;
    background-color:var(--secondary-color);
    font-size: 38px;
}

.footer-area h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.footer-area .site-logo{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.footer-area .social a>i{
    font-size: 60px;
    padding: 2rem;
    color: white;
}

.footer-area .social a:hover>i{
    color: var(--primary-color);
}

.footer-area .copyrights{
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 10px;
}

.footer-area .links{
    color: white;
}

.footer-area .links:hover{
    color: var(--primary-color);
}
