
/*import css variables*/
@import url(./partials/variables.css);


html, body {
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;


}


/*//////////////////////////////////////////////////////////*/
/* start navigation*/

.header_area .main-menu .navbar{
    padding: 0rem;
    background: transparent;
    padding-right: 2rem;
}

.header_area .main-menu .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .heading{
	color: #fff;
	position: relative;
    text-align: center;
    padding-top: 10%;
}
.header_area h1{
	color: var(--primary-color);
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.header_area p{
    color: var(--primary-color);
    font-weight: 700;
	font-size: 20px;
	padding: 10px 0px;
}

.header_area h3{
	color: ffffff;
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

/*//////////////////////////////////////////////////////////*/
/*HOME*/


.section-home {
    width: 100%;
    height: 100%;
    background: url("/img/slide5.png") no-repeat scroll 0px 100% / cover transparent;
    position: relative;
}

.section-home .site-title h1{
    padding-top: 10%;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

/*//////////////////////////////////////////////////////////*/
/*GALLERY*/
.section-gallery{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding-top: 5rem;

}

.section-gallery .container{
    text-align: center;
}

.section-gallery h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.section-gallery .button-group button{
    background-color: transparent !important;;
    border: none;
    font-size: 25px;
    text-transform: none;
    padding-top: 1rem;
    padding-bottom: 3rem; 
}

.section-gallery .button-group .active{
    color: var(--primary-color);
}
.section-gallery .button-group button:hover{
    color: var(--primary-color);
}
.section-gallery .button-group button + button{
    padding-left: 1rem;
}
.section-gallery .grid .our-project{
    padding: 16px;
}
.section-gallery .grid .our-project .img a:hover img{
    filter: brightness(1.01) drop-shadow(1px 8px 30px #000000);
}




/*//////////////////////////////////////////////////////////*/
/*ABOUT ME*/
.section-wb {
    padding-top: 7rem;
    position: relative;
 
    background-color: #ffffff;
}

.section-wb h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

/*//////////////////////////////////////////////////////////*/
/* FOOTER */


.footer-area{
    padding-top: 7rem;
    background-color:white;
    font-size: 38px;
}

.footer-area h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.footer-area .site-logo{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.footer-area .social a>i{
    font-size: 60px;
    padding: 2rem;
    color: black;
}

.footer-area .social a:hover>i{
    color: var(--primary-color);
}

.footer-area .copyrights{
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 10px;
}

.footer-area .links{
    color: black;
}

.footer-area .links:hover{
    color: var(--primary-color);
}
