/*import fonts from fonts.css*/
@import url(./fonts/css);

/*import css variables*/
@import url(./partials/variables.css);


html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x:hidden;
}

/*//////////////////////////////////////////////////////////*/
/* start navigation*/
.header_area{
    background: url("/img/slide5.png") no-repeat scroll 0px 100% / cover transparent;
    position: relative;
    height: 100%;
    width: 100%;
}
.header_area .main-menu .navbar{
    padding: 0.1rem;
    background: transparent;
    padding-right: 2rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .heading{
	color: #fff;
	position: relative;
    text-align: center;
    padding-top: 10%;
}
.header_area h1{
	color: var(--primary-color);
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.header_area p{
    color: var(--primary-color);
    font-weight: 700;
	font-size: 20px;
	padding: 10px 0px;
}

.header_area h3{
	color: ffffff;
}

/*end banner*/





/*//////////////////////////////////////////////////////////*/
/*ABOUT ME*/
.section.wb {
    padding-top: 5rem;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    width: 100%;
}

.message-box{
    font: var(--roboto);
}
.message-box h4 {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #999;
}

.message-box h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box .lead {
    padding-top: 10px;
	font-size: 16px;
	font-style: italic;
	color: #999;
	padding-bottom: 10px;
	padding-left: 15px;
}