/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
/*import css variables*/
@import url(./partials/variables.css);


html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x:hidden;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;


}

/*//////////////////////////////////////////////////////////*/
/* start navigation*/
.header_area{
    background: url("/img/slide5.png") no-repeat scroll 0px 100% / cover transparent;
    position: relative;
    height: 100%;
    width: 100%;
}
.header_area .main-menu .navbar{
    padding: 0.1rem;
    background: transparent;
    padding-right: 2rem;
}

.header_area .main-menu .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .heading{
	color: #fff;
	position: relative;
    text-align: center;
    padding-top: 10%;
}
.header_area h1{
	color: var(--primary-color);
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.header_area p{
    color: var(--primary-color);
    font-weight: 700;
	font-size: 20px;
	padding: 10px 0px;
}

.header_area h3{
	color: ffffff;
}

/*end banner*/

/*//////////////////////////////////////////////////////////*/
/*GALLERY*/
.project-area{
    padding-top: 10%;
    position: relative;
    height: 100%;
    width: 100%;
}

.project-area .container{
    text-align: center;
}

.project-area h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.project-area .button-group button{
    background: transparent;
    border: none;
    text-transform: none;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.project-area .button-group button + button{
    padding-left: 1rem;
}


/*//////////////////////////////////////////////////////////*/
/*ABOUT ME*/
.section.wb {
    padding-top: 10%;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    width: 100%;
}



.message-box h2 {
    font-size: 38px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}


.profile{
    vertical-align: middle;
}