
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}



/*CSS variables*/

:root{
    --primary-color: #29693f;
    --gradient-color: linear-gradient(90deg, #29693f 0%, #29693f 100%);

    /*font family variables*/
    --roboto: "Roboto";
}