
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}



/*CSS variables*/

:root{
    --primary-color: #6d93cc;
    --gradient-color: linear-gradient(90deg, #090030 0%, #090030 100%);

    --secondary-color: #000000; 

}